@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");

body {
  margin: 0;
}

/* ---------------------------- ScrollBar ------------------------------------ */

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 61, 121, 0.9);
  outline: none;
}

/* ----------------------------- Header --------------------------- */
header {
  background: rgba(0, 61, 121, 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 15px;
  margin: 0;
  text-align: end;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 2;
}

header img {
  width: 50px;
}
nav ul {
  justify-content: space-evenly;
  display: flex;
  display: none;
}
.open ul {
  position: absolute;
  background-color: rgba(0, 61, 121, 0.9);
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  left: 0;
  margin-top: 28px;
  text-align: center;
  padding: 10px 0;
  transition: all 300ms linear;
}

.visuallyhidden {
  opacity: 0;
}

#ham {
  padding: 5px 10px;
  font-size: 20px;
  color: rgba(0, 61, 121, 0.9);
  border: 1px solid rgba(0, 61, 121, 0.9);
}

#ham:hover {
  background-color: rgba(0, 61, 121, 0.1);
  color: white;
  border: 1px solid white;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 500ms ease-in-out;
}

ul li a:hover {
  background-color: white;
  color: rgba(0, 61, 121, 0.7);
}
ul li a:active {
  background-color: white;
  color: rgba(0, 61, 121, 0.7);
}

/* <---------------------------Home Hero ------------------------------------> */

div.hero {
  height: 950px;
  width: 100%;
  background-image: url("../images/hero.jpg");
  padding-top: 97px;
}
.hero-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 80px;
}

.transhero {
  width: 100%;
  height: 270px;
  padding: 55px 0 0 0;
  background: rgba(0, 61, 121, 0.9);
  border-radius: 0px 292px 0px 0px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Javanese Text", serif;
  font-weight: 400;
  color: white;
}

p,
a,
li,
label {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  color: white;
}

.transhero h1 {
  margin: 0;
  font-style: normal;
  font-size: 30px;
  line-height: 123px;
  padding-left: 15px;
}

.transhero h2 {
  font-style: normal;
  font-size: 20px;
  line-height: 66px;
  padding-left: 15px;
  margin: -55px 0 0 0;
}

.transhero p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  padding-left: 15px;
  width: 270px;
  margin: -5px 0 0 0;
}

/* <--------------------------- Weather ------------------------------------> */

.weather-container {
  background: rgba(0, 61, 121, 0.9);
  height: 348px;
  width: 90%;
  margin: 75px auto;
  display: grid;
  grid-template-columns: 1fr;
}

.weather-today {
  justify-self: center;
  display: grid;
  grid-template-columns: 49% 2% 49%;
}

.todays-date {
  text-align: right;
  padding-right: 10px;
  justify-self: start;
}
.todays-date h3 {
  font-style: normal;
  font-size: 42px;
  line-height: 141px;
  margin: 0;
}
.todays-date h4 {
  font-style: normal;
  font-size: 18px;
  line-height: 54px;
  margin: -60px 0 0 0;
}
.weather-underline {
  border-right: 3px dotted white;
  height: 80%;
}

.todays-temp {
  text-align: center;
  width: 150px;
}

.todays-temp h4 {
  margin-top: 41px;
  font-size: 35px;
}
.todays-temp :nth-child(2) {
  margin: -40px 0 0 0;
  font-size: 13px;
}
.todays-temp :nth-child(3) {
  margin: 5px 0 0 0;
  font-size: 13px;
}

.weather-future {
  justify-self: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 14px;
  width: 100%;
  justify-items: center;
}

.next-day h4 {
  font-size: 18px;
  margin: 20px 0 0 0;
}
.next-day h5 {
  font-size: 23px;
  margin: -1px 0 -2px 0;
}
.next-day p {
  font-size: 12px;
  margin: 0;
}

/* 
---------------------------- Select Temple ------------------------------- */
.select-temple {
  background: rgba(0, 61, 121, 0.84);
}

.selection-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10px;
  padding: 15px 45px;
}

.selection h3 {
  margin: 10px 0 10px 0;
  font-size: 27px;
}

#temple-list {
  padding: 10px 45px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
}

#temple-list option {
  background-color: rgba(0, 61, 121, 0.84);
}

.selection-info h3 {
  margin: 25px 0 0 0;
  font-size: 20px;
}

.selection-info :nth-child(2) {
  margin: 5px 0 0 0;
  font-size: 15px;
}

.selection-info :nth-child(3) {
  margin: 5px 0 0 0;
  font-size: 15px;
  text-align: right;
}

.selection-grid img {
  margin-top: 15px;
  width: 200px;
}

/* <!-- ------------------------------Won't Miss Home Section ------------------------ --> */

.temple-hero {
  height: 551px;
  background: url(../images/temple.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.temple-trans-banner {
  background: rgba(0, 61, 121, 0.84);
  position: relative;
  top: 100px;
  left: 15%;
  width: 270px;
  height: 220px;
  padding: 45px 30px 30px 30px;
}

.temple-trans-banner h3 {
  font-size: 22px;
  margin: 0;
}

.temple-trans-banner p {
  font-size: 14px;
  line-height: 24px;
  margin: 10px 0 0 0;
}

.view-temps {
  margin-top: 30px;
  width: 133px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 0;
}

.view-temps:hover {
  border: 2px dotted rgba(0, 61, 121, 0.84);
  background-color: white;
  color: rgba(0, 61, 121, 0.84);
  cursor: pointer;
}

/* <!-- ------------------------------Make Reservation ------------------------ --> */

.reserve-hero {
  height: 551px;

  background: url(../images/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reserve-trans-banner {
  height: 293px;
  background: rgba(0, 61, 121, 0.84);
  position: relative;
  margin: 0 auto;
  left: 1%;
  top: 100px;
  text-align: center;
  width: 300px;
  padding: 55px 20px 0 20px;
}

.reserve-trans-banner h3 {
  font-size: 22px;
  margin: 0;
}

.reserve-trans-banner p {
  font-size: 14px;
  line-height: 29px;
  margin: 10px 0 0 0;
}

.make-reservation {
  margin-top: 40px;
  width: 160px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 0;
}

.make-reservation:hover {
  border: 2px dotted rgba(0, 61, 121, 0.84);
  background-color: white;
  color: rgba(0, 61, 121, 0.84);
  cursor: pointer;
}

/* <!-- ------------------------------Footer------------------------ --> */

footer {
  background: rgba(0, 61, 121, 0.9);
}
.footer-container {
  margin: 0 auto;
  display: block;
  padding: 30px 0;
  grid-gap: 30px;
  width: 90%;
}
.footer-address-display {
  margin-top: 60px;
}

.footer-form h3,
.footer-address-display h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-form label {
  font-size: 15px;
}

.footer-form label,
.footer-form input,
.footer-form textarea {
  display: block;
  font-family: "Jaldi", sans-serif;
}
.footer-form label input,
.footer-form textarea {
  margin-top: 5px;
  border-radius: 3px;
  width: 300px;
  border: none;
}

.footer-form label input {
  height: 32px;
}

.footer-form-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 7px 0;
  width: 300px;
  color: #fff;
}

.footer-form-button:hover {
  background-color: white;
  color: rgba(0, 61, 121, 0.9);
}

.footer-form label {
  color: #fff;
  margin-bottom: 15px;
}

.footer-socials {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  margin-top: 25px;
}

.footer-socials img,
.footer-socials a {
  width: 30px;
}

.footer-address,
.footer-phone {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-top: 15px;
}

.footer-address img,
.footer-phone img {
  width: 30px;
  align-self: center;
}

.footer-address p,
.footer-phone p {
  font-size: 15px;
  width: 182px;
}

.copyright {
  font-size: 15px;
  text-align: center;
  grid-column: 1/3;
}

/* <!-- ------------------------------Temple Page------------------------ --> */

#temple-main {
  background: linear-gradient(180deg, #003d79 0%, #ffffff 100%);
}

.temples-container {
  padding-top: 118px;
  width: 90%;
  margin: 0 auto;
}

.temples-container h1 {
  font-size: 40px;
  margin-bottom: 58px;
}

.temple-cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 88px;
  grid-gap: 85px;
}

.temple-image {
  background-image: url("../images/accra.jpg");
  background-size: cover;
  height: 350px;
  position: relative;
}

.temple-name-overlay {
  position: absolute;
  background: rgba(0, 61, 121, 0.84);
  right: 0;
  width: 50%;
  height: 25%;
  padding-left: 45px;
}

.temple-name-overlay p {
  font-size: 20px;
  margin-bottom: 5px;
}
.temple-name-overlay a {
  font-size: 17px;
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: none;
}

.temple-name-overlay a p {
  margin: 0;
  font-size: 17px;
}

.temple-name-overlay a .underline {
  border-bottom: 2px solid white;
  display: block;
  width: 100px;
  margin: 2px auto 0 25px;
  border-radius: 45px;
}

.temple-details {
  background: linear-gradient(180deg, #003d79 0%, #83c2ff 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.85);
  padding: 25px 25px;
}

.temple-location {
  display: flex;
  justify-content: space-between;
}

.temple-location p {
  margin: 5px 0 0 0;
  font-size: 15px;
  align-self: center;
}

.temple-location p:nth-child(1) {
  font-size: 20px;
  align-self: center;
}

.temple-location img {
  width: 25px;
  height: 25px;
}
.temple-location button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.temple-services p {
  font-size: 20px;
  margin-bottom: 0;
}

.temple-services ul {
  margin-top: 10px;
}

.temple-services ul li {
  color: white;
  margin-top: 5px;
}

.temple-history p:nth-child(1),
.temple-schedule p:nth-child(1),
.temple-closure p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  color: #002346;
  margin-bottom: 0;
}

.temple-history p:nth-child(2),
.temple-schedule p:nth-child(2) {
  font-size: 15px;
  margin-top: 5px;
  padding-right: 45px;
}

.temple-closure p:nth-child(2) {
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
}

.temple-closure ul {
  margin-top: 0;
}

.temple-closure ul li {
  color: #002346;

  font-weight: 600;
  padding-right: 45px;
}

/* <!-- ------------------------------Reservation Page------------------------ --> */
.temple-reservation-form-container {
  background: linear-gradient(180deg, #003d79 0%, #83c2ff 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.85);
  margin: 0 auto 120px auto;
  padding: 45px 0;
}

.temple-reservation-form-container h3 {
  text-align: center;
  font-size: 28px;
}
.reservation-form {
  padding-left: 20px;
}

.reservation-form label,
.reservation-form input,
.reservation-form textarea,
.reservation-form select {
  display: block;
}

.reservation-form input,
.reservation-form textarea,
.reservation-form select {
  width: 90%;
}

.reservation-form label {
  margin-bottom: 20px;
  font-size: 18px;
}

.reservation-form label input,
.reservation-form select,
.reservation-form textarea {
  margin-top: 5px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

.reservation-form label input {
  height: 32px;
  color: #003d79;
}

.reservation-container {
  padding-top: 118px;
  width: 90%;
  margin: 0 auto;
}

.reservation-container h3 {
  font-size: 27px;
  margin-top: 0;
}

.reservation-container h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

#form-temple-list {
  padding: 5px 0 5px 0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
}

#form-temple-list option {
  background-color: rgba(0, 61, 121, 0.84);
}

.reservation-button {
  background-color: transparent;
  padding: 10px 0;
  width: 100%;
  border: 2px solid rgba(0, 61, 121, 0.84);
  font-size: 17px;
}

.reservation-button:hover {
  background-color: white;
  color: rgba(0, 61, 121, 0.84);
}
